body { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?animals');
    background-size: cover;
    font-size: 140%;
}

.card {
background: rgba(34, 34, 34, 0.5);
color:oldlace;
padding: 2em;
border-radius: 30px;
width: 100%;
max-width: 420px;
margin: 1em;
font-family: 'Yanone Kaffeesatz', sans-serif;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;

}

button {
    color: oldlace;
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background-color: rgba(125, 125, 125, 0.7);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: rgba(125, 125, 125, 0.99);;
}

.search-bar {
    border: none;
    outline: none;
    padding: .4em 1em;
    border-radius: 24px;
    background-color: rgba(125, 125, 125, 0.7);
    color: oldlace;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);

}

h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  .description {
    text-transform: capitalize;
    margin-left: 8px;
  }
  
  .weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
  }
  
  .weather.loading:after {
    visibility: visible;
    content: "Just a moment..";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
  }